<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="left public_960box_m">
      <h2>找回密码</h2>
      <ul class="form_box left_form">
        <li class=" form_ml title">邮箱找回密码</li>
        <li class="form_ml desc">
          <p>请输入您的注册邮箱，我们将给您发送密码重置邮件。</p>
        </li>
        <li class="form_li">
          <p class="form_msg" id="left_form_msg"></p>
        </li>
        <li class="form_li">
          <label>用户名：</label>
          <input type="text" name="username" id="username" maxlength="16" class="w1">
		  <span id="dusername"></span>
        </li>
        <li class="form_li">
          <label>邮　箱：</label>
          <input type="text" name="email" id="email" class="w1">
		  <span id="demail"></span>
        </li>
		        <li class="form_li">
          <label>验证码：</label>
		  <input type="text" id="checkcode" name="checkcode" class="w2" autocomplete="off" style="width:80px;"> <img id="checkCodeImg" src="/source/include/imagecode.php?act=verifycode" align="middle"> <a href="javascript:refreshCode();"> 换一张</a>

		  <span id="dcheckcode"></span>
        </li>
		        <li class="form_ml pt15">
		<a class="oe_btn_a1" href="javascript:void(0);"> <button class="oe_login_register" onclick="return checkforget();">提 交</button> </a></li>
      </ul>
    </div>
</body>
</html>